.categories {
    display: flex;
    flex-wrap: wrap;
    padding: 0.5rem;
    background-color: var(--color-primary);
    min-height: 6rem;
    box-shadow: 0px 0px 15px 0px rgb(161, 161, 161);
}
.categories .category {
    color: var(--color-secondary);
    margin: 0.2rem 0.8rem;
    transition: 0.15s transform;
}
.categories .category:hover {
    cursor: pointer;
    transform: scale(1.2);
}
.categories .selected {
    transform: scale(1.2);
    font-weight: bold;
}