@font-face {
  font-family: Default;
  src: url(/TenorSans-Regular.ttf);
}

body {
  margin: 0;
  font-family: Default;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
body * {
  font-family: Default;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
