.login-overlay {
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
}
.card {
    background-color: var(--color-primary);
    border-radius: var(--border-radius);
    width: 20rem;
    padding: 0.8rem;
}
  
.card > form {
    display: flex;
    flex-direction: column;
}
.card > form > * {
    margin-bottom: 1rem;
}
  
  .card h1 {
    text-align: center;
    margin-top: 0;
    margin-bottom: 10px;
  }
  
  .form-item {
    padding: 5px;
    margin-bottom: 2rem;
    height: 30px;
    width: 16rem;
    border: 1px solid grey;
  }
  
  .form-submit {
    height: 35px;
    color: #fff;
    background-color: #1abc9c;
    border: none;
    letter-spacing: 0.2rem;
    transition: 0.3s opacity ease;
    cursor: pointer;
  }
  .form-submit:hover {
    opacity: 0.6;
  }