.card {
    background-color: var(--color-primary);
    border-radius: var(--border-radius);
    width: 20rem;
    padding: 0.8rem;
}
.card * {
  font-family: 'Default';
}
.card > .inner {
    display: flex;
    flex-direction: column;
}
.card > .inner > * {
    margin-bottom: 1rem;
}  
.card h1 {
    text-align: center;
    margin: 0.5rem;
    margin-bottom: 1.5rem;
    color: var(--color-secondary-txt);
}
  
.form-item {
    padding: 5px;
    margin-bottom: 2rem;
    height: 2rem;
    border: none;
    border-radius: var(--border-radius);
}
.form-item:focus {
    outline: none;
}